* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #A770EF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    min-height: 100vh;
}

button {
    padding: 0.2rem 0.2rem;
    font-size: 1rem;
    border: none;
    background-color: white;
    color: #FDB99B;
    cursor: pointer;
    transition: 300ms all ease-in-out;
    &:hover {
        background-color: #FDB99B;
        color: white;
    }
}

select {
    appearance: none;
    outline: none;
    border: none;
}